@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace
  font-size 14px

.header
  background url('https://mrbcleague.com/images/logopack/MRBCHeaderNoBack.png')
  background-position center

  .page-title
    font-weight 500
    font-size 22px
    text-align center
    padding-top 220px
    padding-bottom 25px
    text-transform uppercase
    color #580000

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #580000
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px
  list-style-position inside

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px

#matchid
  padding: 8px
  width: 250px
  font-family:inherit
  font-size 14px

#matchsub
  padding: 8px
  font-family:inherit
  font-size 14px
