doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')    
    link(rel="shortcut icon" type="image/ico" href="https://mrbcleague.com/themes/mrbcleague/icons/favicon.ico")
    link(rel="icon" type="image/png" href="https://mrbcleague.com/themes/mrbcleague/icons/favicon.png")

    title MRBC MWO Match Database
  body
    .header
      h1.page-title.insetshadow Mechwarrior:Online Match Database

    ul.nav
      li: a(href='/') Home
      li: a(href='/submit') Submit New Match
      li: a(href='/view') View Match Data
      li: a(href='/faq') FAQ
      li: a(href='/contact') Contact

    .main-content
      block content

    .footer
      p node.js app for intake, python for POSTs, elasticsearch backend, Kibana front
      p
        a(href='https://github.com/shellemech/mwo-comp-api') github.com/shellemech/mwo-comp-api
      p
        a(href='https://mrbcleague.com') mrbcleague.com
