doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    title MRBC MWO API Tool
  body
    .header
      h1.page-title

    ul.nav
      li: a(href='/') Home
      li: a(href='submit') Submit New Match
      li: a(href='http://kibana.mrbcleague.com') View Match Data
      li: a(href='/contact') Contact
    
    .main-content
      block content

    .footer
      p mrbcleague.com.
