doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    title MRBC MWO API Tool
  body
    .header
      h1.page-title MWO Comp API Match Indexer

    ul.nav
      li: a(href='/') Home
      li: a(href='/submit') Submit New Match
      li: a(href='http://kibana.mrbcleague.com', target='_blank') View Match Data
      li: a(href='/contact') Contact

    .main-content
      block content

    .footer
      p node.js app for intake, python for POSTs, elasticsearch backend, Kibana front
      p
        a(href='https://github.com/shellemech/mwo-comp-api') github.com/shellemech/mwo-comp-api
      p
        a(href='https://mrbcleague.com') mrbcleague.com
