extend default

block content
  p.boilertext Data visualiser tool for Mechwarrior Online competitive match data collected from the MWO API.

  p
    h3.insetshadow HOW TO USE

  p    
    ul
      li Play your private lobby match
      li Publish your match data, and copy the id to your clipboard
      li Click on the <a href='/submit'>Submit New Match</a> menu link
      li Paste your match id and press Submit
      li Click on the provided link to view your match data in our Kibana dashboard

  p To analyse team results over time you can submit several matches and create graphs or charts using the stats.

