extend default

block content
  p.
    Viewing tool for Mechwarrior Online competitive match data collected from the MWO API.
  P.
    tech notes: node.js app for intake, python for POSTs, elasticsearch backend, Kibana front.
  p. 
    <a href='https://github.com/shellemech/mwo-comp-api'>github.com/shellemech/mwo-comp-api</a>
