extend default

block content

  p #{output}

  p #{matchid}

  p The match should be available at: 
  a(href='http://kibana.mrbcleague.com/app/kibana#/doc/mwo*/mwo/match/?id='+matchid) kibana.mrbcleague.com/app/kibana#/doc/mwo*/mwo/match/?id=#{matchid}

