extend default

block content

  p Paste in your match ID here to preview and add it to the indexer:

  input#matchid(type='text', placeholder='matchid' name='matchid')
  button#getmatch  Submit Match
  
  script.
   $('#getmatch').click(function(){  
     var thismatch = $('#matchid').val()   
       location.href = '/match/'+thismatch
    })
  
