extend default

block content

  p

    h3.insetshadow SUBMIT

  p Paste in your match ID here to add it to the indexer:

  if (captcha)
    form(method='POST', action='/match')
      input#matchid(type='text', placeholder='matchid' name='matchid')
      p !{captcha}
      button#matchsub(type='submit') Submit Match
  else
    if (error)
      div(style="color:red") Recaptcha Error : #{error}
    else
      div(style="color:green") Data : #{data}
    a(href="/submit") Retry
